apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090   # "prometheus" = service name in docker-compose
    isDefault: true
    editable: false
